/* Persona creadora */
.persona-creadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 3rem 4rem 3rem;
    background-color: #776b5d;
    color: white;
    height: 55vh;
  }
  
  .persona-creadora-icono {
    width: 6rem;
    height: 6rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .persona-creadora-titulo {
    font-size: 1.4rem; /* text-3xl */
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .persona-creadora-descripcion {
    text-align: center;
    max-width: 40rem;
    font-size: 0.8rem; /* text-sm */
    opacity: 0.9;
  }
  
  /* ¿Cómo empezamos? */
  .como-empezamos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 4rem 3rem;
    background-color: #ebe3d5;
  }
  
  .como-empezamos-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
  }
  
  .como-empezamos-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #776b5d;
  }
  
  .como-empezamos-parrafo {
    margin-bottom: 1rem;
    color: #776b5d;
  }
  
  .como-empezamos-video {
    width: 100%;
    max-width: 24rem;
    aspect-ratio: 16/9;
    background-color: white;
    border-radius: 0.5rem;
    border: 2px solid rgba(119, 107, 93, 0.2);
    margin: 0 auto;
  }
  
  /* Misión y visión */
  .mision-vision {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 4rem 3rem;
    background-color: #b0a695;
  }
  
  .mision,
  .vision {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
  }
  
  .mision-titulo,
  .vision-titulo {
    font-size: 1.5rem; 
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1C160F;
  }
  
  .mision-descripcion,
  .vision-descripcion {
    max-width: 24rem;
    margin: 0 auto;
    color: #1C160F;
  }
  @media (min-width: 768px) {
    .persona-creadora-titulo {
      font-size: 1.3rem; 
    }
    
    .persona-creadora-descripcion {
      font-size: 0.9rem; 
    }
    .como-empezamos {
      grid-template-columns: repeat(2, 1fr);
    }
    .como-empezamos-texto {
      margin-left: 7vw;
      font-size: 1.4vw;
    }
    .mision-vision {
      grid-template-columns: repeat(2, 1fr);
    }


  }
  @media (min-width: 1024px) {
    .persona-creadora-titulo {
      font-size: 1.6rem; 
    }
    
    .persona-creadora-descripcion {
      font-size: 1.1rem; 
    }
    .como-empezamos-texto {
      font-size: 1vw;
    }
    .mision, .vision {
      font-size: 1rem;    
    }
  }