/* Estilos generales */
body {
  background-color: #e1d7bf;
  color: #e6e0d8;
  font-family: "Arial", sans-serif;
}

.hero-proyectos {
  background-image: url("/placeholder.svg?height=300&width=1200");
  background-size: cover;
  background-position: center;
  height: 300px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5rem 2.5rem; /* px-10 */
  background-color: #000; /* Fondo negro */
  overflow: hidden;
}

.proyectos-bg {
  position: relative;
  z-index: 2;
  padding-top: 2.5rem;
}

/* Encabezado */
.proy-title {
  font-size: 2.25rem; /* text-4xl */
  font-weight: bold;
  color: #fff; /* Texto blanco */
  margin-bottom: 0.5rem;
}

.proy-descr {
  color: rgba(255, 255, 255, 0.9); /* Blanco con opacidad */
  max-width: 36rem; /* max-w-xl */
  margin: 0 auto; /* Centrar contenido */
  line-height: 1.5;
  font-size: "Inter", serif;
  color: #E1D7BF;
}

/* Estilos de la cuadrícula de proyectos */

.container-proyectos {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.projects-grid {
  display: grid;
  gap: 2rem;
  padding: 4rem 0;
}

@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  position: relative;
  gap: 8px;
}

.project-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.project-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-content {
  color: #fff;
  text-align: right;
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.project-title {
  margin-top: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #1C160F;
}
.project-description {
  font-family: "Inter", serif;
  color: #615944;
  font-size: 13px;
}
.project-read-more{
  color: #615944;
  font-family: "Inter", serif;
  font-weight: bold;
  font-size: 13px;
}

/* Responsive */
@media (max-width: 768px) {
  .project-content {
    font-size: 12px; /* Ajusta el tamaño del texto */
    padding: 8px;
  }

  .project-title {
    font-size: 16px; /* Reduce el tamaño del título */
    margin-top: 8px;
  }
}

@media (max-width: 480px) {
  .project-content {
    font-size: 10px; /* Texto más pequeño en pantallas muy pequeñas */
    padding: 6px;
  }

  .project-title {
    font-size: 14px; /* Reduce aún más el tamaño del título */
    margin-top: 6px;
  }
}